body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-image: url(/assets/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav > p {
  font-size: 17px;
  font-weight: 400;
}

.head-div {
  color: white;
  /*used to center the forepage*/
  width: 90%;
  margin: auto;
}

.head-div > h2 {
  position: relative;
  left: 45px;
  top: 30px;
}

#header-box {
  font-size: 20px;
  position: relative;
  top: 140px;
  line-height: 25px;
}

.partition {
  position: relative;
  top: 23px;
  width: 50px;
  height: 0.2px;
  border: 3px solid#039785;
}

#whiteone {
  width: 25px;
  border: 3px solid white;
}

#white-button {
  background-color: white;
  color: #039785;
  height: 45px;
  font-size: 11px;
  border: none;
  width: 180px;
}

#header-box > p {
  font-size: larger;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 40px;
}

nav > button {
  background-color: transparent;
  height: 7.5ex;
  width: 180px;
  text-align: center;
  font-size: 12px;
  color: white;
  border: solid 1px white;
  border-radius: 2px;
}

#whitebox {
  height: 8px;
  background-color: white;
  width: 50px;
}

.body-div1 {
  background-image: url(/assets/contact_map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  /*used to center the forepage*/
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#green-button {
  background-color: #039785;
  color: #fff;
  height: 50px;
  padding-right: 5ex;
  text-align: center;
  padding: 10px;
  border: none;
  width: 27ex;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 7%);
}

h3.curate {
  position: relative;
  bottom: 5px;
}

p.curate {
  color: rgb(85, 83, 83);
  position: relative;
  bottom: 30px;
}

.img-box {
  width: 25%;
  /* Shows border width
    border: 5px solid black;
    */
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 10px;
  height: 300px;
  background-color: #fff;
  font-size: 13px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 7%);
}

#flexbox1 {
  position: relative;
  bottom: 30px;
}

#flexbox2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 30px;
}
.green-background {
  background-color: #f2f8f7;
}

.body-div2 > p {
  position: relative;
  bottom: 35px;
  color: #666;
  font-size: 14px;
  line-height: 21px;
}

#experiences {
  display: flex;
  width: 100%;
}

#exp-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 30px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 7%);
} 

#profile{ 
  padding: 10px; 
  display: flex;
  justify-content: space-between;
}

#green-tag {
  background-color: #d4edea;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

#green-tag #first{
  padding-left: 35px;
  font-size: 14px;
}

#green-tag #second {
  font-size: 14px;
  padding-right: 15px;
}

#profile button {
  background-color: transparent;
  border: 1px solid #039785;
  border-radius: 2px;
  height: min-content;
  width: min-content;
  padding-left: 15px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding-right: 15px;
  font-size: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#profile p {
  position: relative;
  right: 10px;
  bottom: 5px;
}

.sub-div2 {
  
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sub-div2 a {
  color: teal;
  text-transform: uppercase;
  font-size: 13px;
}

.body-div3 {
  width: 90%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/contact_map.png);
  background-position: 50%;
  background-repeat: no-repeat;
}

#centred-div {
  display: flex;
  justify-content: center;
}

#text-div {
  width: 45ex;
  position: relative;
  left: 35px;
  top: 80px;
}

#text-div > p {
  font-size: 15px;
  color: gray;
}

#text-div button {
  color: #fff;
  background-color: #039785;
  border: none;
  text-align: center;
  height: 50px;
  width: 230px;
  border-radius: 2px;
}

#img-div {
  width: 400px;
  height: 410px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgb(0 0 0 / 7%);
}

.body-div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f8f7;
  height: 350px;
}

.body-div4 button {
  background-color: white;
  color: #039785;
  height: 58px;
  width: 220px;
  border: none;
  box-shadow: 0 4px 10px rgb(0 0 0 / 7%);
}

.contact-us-div {
  width: 100%;
  margin: auto;
  margin-top: 46px;
}

.contact-us-div ul {
  line-height: 25px;
  font-size: 14px;
}

.address-div {
    color: #666;
    font-size: 14px;
    line-height: 21px;  
}

.about-us-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 130px;
}

.about-us-div ul {
  list-style: none;
}

#subscribe {
  width: 20%;
}

.contact-us-div > p {
  margin-top: 45px;
  margin-bottom: 45px;
  color: rgb(104, 103, 103);
  text-align: center;
  font-size: 14px;
}

#subscribe > p > a {
    text-decoration: none;
    color: rgb(104, 103, 103);;
}

#subscribe > button {
    color: lightgray;
    background-color: white;
    border: 0.5px solid black;
    height: 3em;
    width: 20em;
    text-align: left;
    border: 1px solid gray;
    border-radius: 2px;
}

#ul1, #ul2, .address-div, #subscribe {
    box-sizing: inherit;
}