body {
    padding: 0;
    margin: 0;
  }

.header {
    width: 100%;
    background-image: url(/assets/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav > p {
    font-size: 17px;
    font-weight: 400;
}

.head-div {
    color: white;
    /*used to center the forepage*/
    width: 90%;
    margin: auto;
}
#header-box {
    font-size: 17px;
    position: relative;
    top: 140px;
}

#header-box > p {
    font-size: larger;
}

nav {
    display: flex; 
    justify-content: space-between;
    position: relative;
    top: 20px;
}

nav > button {
    background-color: transparent;
    height: fit-content;
    padding: 2ex;
    color: white;
    border: solid 1px white;
}

#whitebox {
    height: 8px;
    background-color: white;
    width: 50px;
}

.body-div1 {
    background-image: url();
    display: flex;
    /*used to center the forepage*/
    width: 90%;
    margin: auto;
}

#green-button {
    background-color: rgb(2, 133, 133);
    color: #fff;
    height: 50px;
    padding-right: 5ex;
    text-align: center;
    padding: 10px;
    border: none;
    width: 27ex;
}

.address-div {
    width: 250px;
}

.about-us-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-us-div > ul {
    list-style: none;
}

