.head-div {
    width: 100%;
    
}

nav > button {
    background-color: transparent;
    height: fit-content;
    padding: 2ex;
}
.address-div {
    width: 250px;
}

.about-us-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-us-div > ul {
    list-style: none;
}

